page-register {

hr{
  color:lightgrey;
  background-color:lightgrey;
  border-color:lightgrey;
  border-top: 0.5px solid lightgrey;
}
label { /* WebKit, Blink, Edge */
    color:    lightgray;
}
ion-item
{
    background-color:mediumpurple !important;
}
.MediumPurple
{
    background-color:mediumpurple !important;
}
p
{
    color: antiquewhite !important;
    font-size:1.2rem !important;
}

}
